body {
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
    background-color: #F5F7FA;
    color: #333333;
}

header {
    background-color: #4F5D75;
    padding: 1rem;
    text-align: center;
}

h1 {
    font-size: 42px;
    color: #FFFFFF;
    margin: 0;
    font-family: "Georgia", serif;
}

nav {
    background-color: #8AB6D6;
    color: #333333;
    padding: 0.5rem 0;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    padding: 10px 20px;
    color: #333333;
    text-decoration: none;
    font-size: 18px;
    font-family: "Arial", sans-serif;
    font-weight: bold;
}

nav ul li a:hover {
    color: #FF0000;
}

.container {
    margin: 1rem;
}

.container h1 {
    text-align: center;
    color: tan;
}

.container img {
    float: right;
}

.genre-container h1 {
    color: black;
    text-align: center;
    margin: 1rem;
}

.genre-container p {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: navajowhite;
    padding: 1rem;
    border-radius: 10%;
    font-size: 1.1rem;
}

.genre-container h2 {
    margin-left: 1rem;
}

.genre-container table {
    margin-left: 3rem;
    margin-right: 3rem;
    border: 2px solid;
    width: calc(100% - 6rem);
    border-collapse: collapse;
    margin-bottom: 1rem;
}

.genre-container th, td {
    border: 1px solid black;
    padding: 6px;
}

.genre-container tbody tr th {
    font-weight: normal;
}

.genre-container td:nth-child(2), th:nth-child(2) {
    width: 300px;
}

.genre-container td:nth-child(3), th:nth-child(3) {
    width: 200px;
}

.genre-container td:nth-child(4), th:nth-child(4) {
    width: 50px;
}

.book-container h2 {
    margin: 1rem;
}

#highlight {
    color: red;
}

.book-container iframe {
    width: 100%;
    border: 0;
    height: 30.5rem;
}

.login-container, .signup-container {
    height: 524px;
    margin: 1rem;
}

.login-container {
    text-align: center;
}

h2 {
    font-size: 28px;
    color: #4F5D75;
    margin: 1rem 0;
    font-family: "Georgia", serif;
}

p, a, li {
    font-family: "Verdana", sans-serif;
}

footer {
    background-color: #4F5D75;
    color: #FFFFFF;
    padding: 0.5rem;
    text-align: center;
    font-size: 14px;
    font-family: "Arial", sans-serif;
}