{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" src="{% static 'main/style.css' %}">
    <script type="text/javascript" src="{% static 'main/script.js' %}"></script>
	<title></title>
</head>
<body>
	<header>
        <h1>Book Club</h1>
    </header>
  
    <nav>
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
        {% for genre in genres %}
            <li><a href="{% url 'genre' genre.id %}">{{ genre.name }}</a></li>
        {% endfor %}
        {% if not request.user.is_authenticated %}
            <li><a href="{% url 'login' %}">Log In</a></li>
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
        {% else %}
            <li><a href="{% url 'logout' %}">Log Out</a></li>
        {% endif %}
        </ul>
    </nav>

    {% block main %}
    {% endblock %}

    <footer>
        <p>&copy; 2023 Book Club. All rights reserved.</p>
    </footer>
</body>
</html>
